* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 22px;
}

.app_dropdown {
  background: #fff;
}

.app_leftside {
  flex: 0.9;
}

.app_header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app_stats {
  display: flex;
  justify-content: space-around;
}

.app_rightside {
  display: flex;
  flex-direction: column;
}

.app_rightside .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app_graphTitle {
  margin: 18px 0;
}

.app_graph {
  flex-grow: 1;
}

@media (max-width: 900px) {
  .app {
    flex-direction: column;
  }
}
